* {
    margin: 0px;
    color: black;
}

:root {
    font-family: "Arial";
    --gray1: rgb(50, 50, 50);
    --gray2: rgb(70, 70, 70);
    --red1: rgb(235, 0, 0);
}

#root {
    width: 100%;
    height: 100vh;
}


/*------------------------------ NAVBAR & FOOTER ------------------------------*/

.navbar {
    position: fixed;
    top: 0px;
    width:  100%;
    min-height: 110px;
    max-height: 140px;
    height: 14%;
    background-color: var(--gray1);
    border-bottom: 10px solid var(--gray2);
    z-index: 100;
}


.logo {
    position: fixed;
    cursor: pointer;
    background-image: url('../images/RateMyClasseslogo.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    top: 5px;
    left: -5px;

    min-height: 110px;
    max-height: 140px;
    height: 15%;
    min-width: 300px;
    max-width: 500px;
    width: 60%;

    z-index: 101;
    transition: 0.2s;
}

.logo:hover {
    left: 0px;
}


/* .navbar-notfixed {
    top: 0px;
    width:  100%;
    min-height: 120px;
    background-color: var(--gray1);
    border-bottom: 10px solid var(--gray2);
    z-index: 100;
} */


/* .logo-notfixed {
    position: absolute;
    background-image: url('../images/RateMyClasseslogo.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    top: 15px;
    left: -10px;
    height: 100px;
    width: 500px;
    z-index: 101;
    transition: 0.2s;
    cursor: pointer;
}

.logo-notfixed:hover {
    left: -5px;
} */


.profile-logo {
    position: fixed;
    cursor: pointer;
    background-image: url('../images/profilelogo.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    top: 8px;
    right: 10px;
    min-height: 50px;
    max-height: 80px;
    height: 5%;
    min-width: 50px;
    max-width: 80px;
    width: 5%;
    z-index: 101;
    transition: 0.2s;
}

.profile-logo:hover {
    top: 10px;
}


.signin-text {
    position: fixed;
    cursor: pointer;
    margin: 5px;
    font-style: italic;
    color: var(--red1);
    opacity: 0.6;
    top: 0px;
    right: 80px;
    z-index: 101;
    transition: 0.15s;
}

.signin-text:hover {
    opacity: 0.9;
}


.signup-text {
    position: fixed;
    cursor: pointer;
    margin: 5px;
    font-style: italic;
    color: var(--red1);
    opacity: 0.6;
    top: 0px;
    right: 10px;
    z-index: 101;
    transition: 0.15s;
}

.signup-text:hover {
    opacity: 0.9;
}


.about-text {
    position: fixed;
    cursor: pointer;
    margin: 5px;
    font-style: italic;
    color: var(--red1);
    opacity: 0.6;
    bottom: 0px;
    left: 10px;
    z-index: 101;
    transition: 0.15s;
}

.about-text:hover {
    opacity: 0.9;
}


.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width:  100%;
    min-height: 40px;
    max-height: 80px;
    height: 9%;
    background-color: var(--gray1);
    border-top: 10px solid var(--gray2);
    z-index: 100;
}

.footer-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    min-height: 75px;
    height: 10%;
    width: 250px;
    background-color: white;
    z-index: 101;
}



/*------------------------------ AUTHENTICATION FORM ------------------------------*/

.auth-bg {
    position: fixed;
    top: 0px;
    background-image: url('../images/authbackground.jpg');
    opacity: 0.4;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}


.authform-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}


.authform {
    width: 560px;
    margin-top: 6%;
    text-align: center;
    z-index: 10;
}


.authform label {
    text-align: left;
    display: block;
} 


.authform h3 {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}


.authform input, .authform textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 15px 0px 25px 0px;
    border: 1px solid lightgray;
    background-color: rgb(255, 250, 250);
    box-sizing: border-box;
    display: block;
}

.authform button {
    font-size: 16px;
    background-color: rgba(255, 210, 210);
    color: black;
    border: 0;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}

.authform button:hover {
    background-color: rgba(255, 210, 210, 0.85);
}

.authform button:active {
    background-color: rgb(200, 75, 75);
}


.authform form {
    position: relative;
    min-height: 240px;
    padding: 50px 50px 40px 50px;
    margin-bottom: 5px;
    border: 2px solid var(--gray2);
    border-radius: 10px;
    background-color: white;
}


.authform-bottomtext-flexbox {
    position: relative;
    display: flex;
    max-width: 560px;
    justify-content: space-between;
    padding: 0px 70px 0px 70px;
}


.authform-bottomtext {
    font-size: 16px;
    font-style: italic;
    color: black;
    transition: 0.15s;
    cursor: pointer;
}

.authform-bottomtext:hover {
    color: gray;
}


.authform-errormessage {
    color: red;
    font-style: italic;
    margin-bottom: 20px;
}



/*------------------------------ 404 PAGE ------------------------------*/

.loadingscreen {
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    font-size: 80px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
}



/*------------------------------ 404 PAGE ------------------------------*/

.error404-bg {
    position: fixed;
    background-color: rgb(255, 240, 240);
    height: 100%;
    width: 100%;
    z-index: -10;
}

.error404-text {
    position: fixed;
    top: 170px;
    left: 40px;
    font-size: 50px;
}