/*------------------------------ HOME PAGE ------------------------------*/

.home-bg {
    position: fixed;
    background-image: url('../images/homepagebackground.jpg');
    opacity: 0.95;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}


.home-buttonSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 38%;
    height: 25%;
    width: 100%;
}


.home-buttonSection {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 245, 245, 0.60);
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;

    height: 200px;
    min-width: 300px;
    width: 40%;

    border-radius: 15px;
    border: 2px solid var(--gray1);
    transition: 0.25s;
    z-index: 2;
}


.home-button {
    position: relative;
    height: 100px;
    width: 100%;
    padding: 5px;
    margin: 0px 15px 30px 15px;
    top: 0px;
    left: -15px;

    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1px;
    background-color: rgb(255, 255, 255);
    border: 2px solid var(--gray1);
    border-radius: 15px;
    transition: 0.12s;
    z-index: 3;
    cursor: pointer;
}


.home-button:hover {
    background-color: rgba(255, 210, 210, 0.9);
}

.home-button:active {
    background-color: rgb(200, 75, 75);
    margin-top: 3px;
    margin-bottom: 27px;
}


.home-paragraph {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin-top: 5px;
    left: 0px;
    z-index: 3;
}



/*------------------------------ PROFILE PAGE ------------------------------*/

.profile-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url('../images/profilebackground.jpg');
    opacity: 0.60;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}


.profile-sidebar-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50px;
    top: 20px;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    height: 100%;
}


.profile-sidebar {
    position: fixed;
    background-color: white;
    border: 3px solid var(--gray2);
    border-radius: 15px;
    height: 40%;
    width: 140px;

    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-sidebar img {
    margin-left: 30px;
    width: 60px;
    height: 60px;
}


.profile-sidebar-profiletext {
    font-size: 22px;
    font-style: bold;
    color: black;
    text-align: center;
    margin-left: 28px;
}


.profile-sidebar-gap {
    height: 85%;
    width: 100%;
}


.profile-sidebar-wordcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    height: 100%;
    width: 75%;
}


.profile-sidebar-text {
    font-size: 14px;
    margin-top: 20px;
    font-style: italic;
    color: var(--gray2);
    transition: 0.15s;
    cursor: pointer;
}

.profile-sidebar-text:hover {
    color: gray;
}


.profile-postedReview-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
    top: 20%;
    left: 260px;
    height: 63%;
    width: 65%;
    background-color: white;
    border: 3px solid var(--gray2);
}


.profile-postedReview-textbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: lightgray;
    border: 2px solid var(--gray2);
}

.profile-postedReview-textbox h1 {
    font-size: 36px;
    text-align: center;
}


.profile-postedReview-reviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    height: 100%;
    width: 100%;
}


.profile-postedReview {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
    height: 11%;
    background-color: rgb(255, 225, 225);
    border: 2px solid rgb(255, 235, 235);
    border-radius: 10px;
    transition: 0.15s;
}

.profile-postedReview:hover {
    background-color: rgb(255, 200, 200);
}


.profile-postedReview-bodycontainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}


.profile-deleteicon {
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    transition: 0.15;
    cursor: pointer;
    z-index: 105;
}

.profile-deleteicon:hover {
    opacity: 0.8;
}

.profile-postedReview-title {
    cursor: pointer;
}


.profile-alert-background {
    z-index: 1000;
    position: fixed;
    top: 20%;
    left: 0%;
    background-color: rgb(255, 245, 245);
    border: 5px solid red;
    width: 200px;
    height: 520px;
}

.profile-alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-alert-warningtext {
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.profile-alert-buttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    height: 300px;
    width: 100%;
}


.profile-alert-cancelbutton {
    width: 120px;
    height: 40px;
    background-color: lightgray;
    border: 2px solid var(--gray2);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}

.profile-alert-cancelbutton:hover {
    background-color: rgb(220, 220, 220);
}


.profile-alert-confirmbutton {
    width: 120px;
    height: 40px;
    background-color: rgb(255, 144, 144);
    border: 2px solid rgb(67, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}

.profile-alert-confirmbutton:hover {
    background-color: rgb(255, 180, 180);
}


.profile-alert-confirmanddeletebutton {
    width: 120px;
    height: 80px;
    background-color: rgb(180, 100, 100);
    border: 2px solid rgb(67, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}

.profile-alert-confirmanddeletebutton:hover {
    background-color: rgb(200, 140, 140);
}



/*------------------------------ REVIEW SUBMISSION FORM ------------------------------*/

.reviewform-bg {
    width: 100%;
    height: 3200px;
    background-color: rgb(245, 240, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.reviewform-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 700px;
    width: 60%;
    height: 3000px;
    margin-top: 150px;
}

.reviewform-form label {
    margin: 25px 0px 5px 0px;
    font-size: 26px;
    color: var(--gray2);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
} 

.reviewform-form input, .reviewform-form select {
    width: 500px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: 2px solid var(--gray2);
}

.reviewform-form h1 {
    text-align: center;
    color: var(--red1);
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.reviewform-form p {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: rgb(180, 180, 180);
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(120, 120, 120, 0.05);
}


.reviewform-itemcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    margin: 30px 0px 30px 0px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

.reviewform-itemcontainer:hover {
    margin: 27px 0px 33px 0px;
}


.reviewform-itemcontainer-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    margin: 30px 0px 90px 0px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

.reviewform-itemcontainer-review:hover {
    margin: 27px 0px 93px 0px;
}

.reviewform-itemcontainer-review textarea {
    width: 600px;
    height: 300px;
    padding: 5px;
    margin: 20px 0px 0px 0px;
    text-align: left;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    border: 2px solid var(--gray2);
    font-size: 18px;
}


.reviewform-ratingblurb {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(125, 125, 125);
    text-shadow: 1px 1px 2px rgba(120, 120, 120, 0.05);
}


.reviewform-ratingflexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    height: 100%;
    width: 100%;
}

.reviewform-ratingflexbox select {
    width: 120px;
    height: 50px;
    margin: 0px 0px 20px 60px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: 2px solid var(--gray2);
}

.reviewform-explanationbox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: rgb(255, 200, 200);
    border: 2px solid var(--gray2);
    border-radius: 10px;
}

.reviewform-explanationbox p {
    margin: 0px;
    font-weight: bold;
    font-size: 14px;
    color: var(--gray2);
    font-style: italic;
}


.reviewform-submitbutton {
    width: 250px;
    height: 80px;
    margin: 20px 0px 60px 0px;
    font-size: 30px;
    background-color: rgb(255, 200, 200);
    border: 2px solid var(--gray2);
    border-radius: 10px;
    transition: 0.15s;
    cursor: pointer;
}

.reviewform-submitbutton:hover {
    background-color: rgb(255, 160, 160);
}

.reviewform-submitbutton:active {
    background-color: rgb(225, 80, 80);
    margin: 25px 0px 55px 0px;
}


.reviewform-alertdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 250px;
    background-color: rgba(255, 100, 100, 0.9);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.reviewform-alertdiv h2 {
    font-size: 36px;
}

.reviewform-alertdiv p {
    margin: 10px 0px 20px 0px;
    color: var(--gray2);
    font-size: 18px;
    font-style: italic;
}



/*------------------------------ COURSE LOOKUP ------------------------------*/

.lookup-bg {
    position: fixed;
    top: 0px;
    left: 400px;
    background-image: url('../images/courselookupbg.jpg');
    opacity: 0.60;
    width: 80%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}


.lookup-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -10px;
    bottom: -10px;
    width: 400px;
    min-height: 450px;
    height: 86%;
    background-color: white;
    border: 10px solid rgb(225, 225, 225);
}


.lookup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.lookup-form input, .lookup-form select {
    width: 75%;
    height: 50px;
    margin: 10px 0px 30px 0px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: 2px solid var(--gray2);
}

.lookup-form label {
    font-size: 20px;
}

.lookup-form button {
    font-size: 20px;
    width: 40%;
    height: 50px;
    margin: 10px 0px 0px 0px;
    background-color: rgb(255, 240, 240);
    border: 2px solid var(--gray2);
    border-radius: 10px;
    transition: 0.15s;
    cursor: pointer;
}

.lookup-form button:hover {
    background-color: rgb(255, 200, 200);
}


.lookup-displayedCoursesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 410px;
    margin-top: 9%;
    min-width: 600px;
    width: 100% - 410px;
    min-height: 100%;
}

.lookup-displayedCoursesContainer h1 {
    font-size: 60px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    color: var(--gray1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.lookup-displayedCourseOutline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100px;
    margin: 20px 0px 20px 0px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(225, 225, 225);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s;
}

.lookup-displayedCourseOutline:hover {
    background-color: rgb(255, 235, 235);
    border: 5px solid rgb(200, 200, 200);
}

.lookup-displayedCourseOutline h2 {
    font-size: 32px;
    text-align: center;
    color: var(--gray1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.lookup-displayedCourseOutline p {
    font-size: 16px;
    text-align: center;
    margin: 5px 0px 0px 0px;
    color: var(--gray2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}


.lookup-displayedCourseError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 150px;
    margin: 20px 0px 20px 0px;
    padding: 5px;
    background-color: rgb(255, 150, 150);
    border: 5px solid rgb(150, 0, 0);
    border-radius: 15px;
}

.lookup-displayedCourseError h2 {
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.lookup-displayedCourseError p {
    font-size: 14px;
    text-align: center;
    margin: 5px 0px 0px 0px;
    color: var(--gray1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}



/*------------------------------ COURSE REVIEWS ------------------------------*/

.reviews-bg {
    background-color: rgb(255, 225, 225);
    position: fixed;
    top: 0px;
    left: 400px;
    opacity: 0.60;
    width: 80%;
    min-height: 100%;
    z-index: -10;
}


.reviews-sidebar {
    position: fixed;
    left: -10px;
    bottom: -10px;
    width: 550px;
    min-height: 550px;
    height: 86%;
    background-color: white;
    border: 10px solid rgb(225, 225, 225);
}


.reviews-sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 0px 0px;
    height: 90%;
    width: 100%;
}

.reviews-sidebar-container h1 {
    font-size: 32px;
    text-align: center;
    color: var(--gray1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}


.reviews-statsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 450px;
    margin: 20px;
    background-color: black;
}


.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 560px;
    margin-top: 9%;
    min-width: 600px;
    width: 100% - 560px;
    min-height: 100%;
}

.reviews-container h1 {
    font-size: 60px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    color: var(--gray1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.reviews-displayedReviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    width: 70%;
    height: 580px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(200, 200, 200);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s;
}

.reviews-displayedReviewContainer h2 {
    font-size: 18px;
    text-align: center;
}

.reviews-displayedReviewContainer p {
    font-size: 14px;
    font-style: italic;
    color: rgb(120, 120, 120);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}


.reviews-titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 10px 0px 20px 0px;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
}


.reviews-professorAndGrade-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}


.reviews-professorAndGradeTopText-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10px;
    margin-top: 5px;
}


.reviews-professorAndGradeTopText-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 45%;
    margin: 0px 1% 10px 1%;
}


.reviews-professorAndGrade {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    width: 40%;
    height: 30px;
    padding: 5px;
    margin: 0px 20px 0px 20px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
}


.reviews-reviewTopText-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
    margin: 25px 0px 10px 0px;
}


.reviews-review-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
}


.reviews-review {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    width: 95%;
    height: 100%;
    padding: 5px;
    margin: 10px 20px 0px 20px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
}


.reviews-reviewText {
    width: 97%;
    word-break: break-all;
}


.reviews-ratings-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    width: 100%;
    height: 100px;
}

.reviews-ratingsText-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
}

.reviews-ratingBoxes-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}


.reviews-ratingBox-red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(255, 160, 160);
    border: 5px solid rgb(225, 225, 225);
}

.reviews-ratingBox-orange {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(255, 182, 126);
    border: 5px solid rgb(225, 225, 225);
}

.reviews-ratingBox-yellow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 170);
    border: 5px solid rgb(225, 225, 225);
}

.reviews-ratingBox-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(190, 190, 255);
    border: 5px solid rgb(225, 225, 225);
}

.reviews-ratingBox-green {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(190, 255, 190);
    border: 5px solid rgb(225, 225, 225);
}

.reviews-ratingBox h2 {
    font-size: 24px;
    text-align: center;
    color: var(--gray1);
    text-shadow: 1px 1px 2px rgb(0,0,0,0.2);
}


.reviews-date {
    opacity: 0.5;
}