/*------------------------------ HOME PAGE ------------------------------*/

.home-bg {
    position: fixed;
    background-image: url('../images/homepagebackground.jpg');
    opacity: 0.95;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}


.home-mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-width: 1100px;
    height: 100vh;
    min-height: 650px;
}


.home-buttonSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 1100px;
}


.home-buttonSection {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 245, 245, 0.60);
    padding: 20px;
    /* margin-left: 80px;
    margin-right: 80px; */

    height: 200px;
    min-width: 420px;
    width: 33%;

    border-radius: 15px;
    border: 2px solid var(--gray1);
    transition: 0.25s;
    z-index: 2;
}


.home-button {
    position: relative;
    height: 100px;
    width: 100%;
    padding: 5px;
    margin: 0px 15px 30px 15px;
    top: 0px;
    left: -15px;

    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1px;
    background-color: rgb(255, 255, 255);
    border: 2px solid var(--gray1);
    border-radius: 15px;
    transition: 0.12s;
    z-index: 3;
    cursor: pointer;
}


.home-button:hover {
    background-color: rgba(255, 210, 210, 0.9);
}

.home-button:active {
    background-color: rgb(200, 75, 75);
    margin-top: 3px;
    margin-bottom: 27px;
}


.home-paragraph {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin-top: 5px;
    left: 0px;
    z-index: 3;
}



/*------------------------------ PROFILE PAGE ------------------------------*/

.profile-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url('../images/profilebackground.jpg');
    opacity: 0.60;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}


.profile-sidebar-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -40px;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    height: 100%;
}


.profile-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-top: 100px;
    height: 40%;
    min-height: 180px;
    max-height: 420px;
    width: 140px;

    background-color: white;
    border: 3px solid var(--gray2);
    border-radius: 15px;
}


.profile-sidebar-iconAndTextFlexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-sidebar img {
    margin-left: 30px;
    width: 60px;
    height: 60px;
}


.profile-sidebar-profiletext {
    font-size: 22px;
    font-style: bold;
    color: black;
    text-align: center;
    margin-left: 28px;
}


.profile-sidebar-wordcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 10px;
    width: 75%;
}


.profile-sidebar-text {
    font-size: 14px;
    margin-top: 20px;
    font-style: italic;
    color: var(--gray2);
    transition: 0.15s;
    cursor: pointer;
}

.profile-sidebar-text:hover {
    color: gray;
}


.profile-postedReview-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 830px;
    height: 100%;
    min-height: 830px;
}

.profile-postedReview-container {
    display: flex;
    flex-direction: column;
    margin: 165px 0px 0px 120px;
    padding: 10px;
    height: 600px;
    min-width: 400px;
    width: 60%;
    background-color: white;
    border: 3px solid var(--gray2);
}


.profile-postedReview-textbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: lightgray;
    border: 2px solid var(--gray2);
}

.profile-postedReview-textbox h1 {
    font-size: 36px;
    text-align: center;
}


.profile-postedReview-reviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    height: 100%;
    width: 100%;
}


.profile-postedReview {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
    height: 36px;
    background-color: rgb(255, 225, 225);
    border: 2px solid rgb(255, 235, 235);
    border-radius: 10px;
    transition: 0.15s;
}

.profile-postedReview:hover {
    background-color: rgb(255, 200, 200);
}


.profile-postedReview-bodycontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.profile-postedReview-bodycontainer p {
    font-size: 12px;
}

.profile-postedReview-titleAndIconFlexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.profile-postedReview-title {
    font-size: 15px;
    cursor: pointer;
}


.profile-deleteicon {
    /* position: absolute; */
    right: 20px;
    width: 20px;
    height: 20px;
    transition: 0.15;
    cursor: pointer;
    z-index: 5;
}

.profile-deleteicon:hover {
    opacity: 0.8;
}


.profile-alert-background {
    z-index: 1000;
    margin: 120px 0px 0px 40px;
    background-color: rgb(255, 245, 245);
    border: 5px solid red;
    width: 200px;
    height: 75%;
    min-height: 300px;
    max-height: 520px;
}

.profile-alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


.profile-alert-warningtext-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-alert-warningtext {
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.profile-alert-buttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    height: 60%;
    min-height: 60px;
    max-height: 350px;
    width: 100%;
}


.profile-alert-cancelbutton {
    width: 120px;
    height: 40px;
    background-color: lightgray;
    border: 2px solid var(--gray2);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}

.profile-alert-cancelbutton:hover {
    background-color: rgb(220, 220, 220);
}


.profile-alert-confirmbutton {
    width: 120px;
    height: 40px;
    background-color: rgb(255, 144, 144);
    border: 2px solid rgb(67, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}

.profile-alert-confirmbutton:hover {
    background-color: rgb(255, 180, 180);
}


.profile-alert-confirmanddeletebutton {
    width: 120px;
    height: 80px;
    background-color: rgb(180, 100, 100);
    border: 2px solid rgb(67, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}

.profile-alert-confirmanddeletebutton:hover {
    background-color: rgb(200, 140, 140);
}



/*------------------------------ REVIEW SUBMISSION FORM ------------------------------*/

.reviewform-bg {
    min-width: 1000px;
    height: 3200px;
    background-color: rgb(245, 240, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.reviewform-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 700px;
    width: 60%;
    height: 3000px;
    margin-top: 200px;
}

.reviewform-form label {
    margin: 25px 0px 5px 0px;
    font-size: 26px;
    color: var(--gray2);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
} 

.reviewform-form input, .reviewform-form select {
    width: 500px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: 2px solid var(--gray2);
}

.reviewform-form h1 {
    text-align: center;
    color: var(--red1);
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.reviewform-form p {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: rgb(180, 180, 180);
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(120, 120, 120, 0.05);
}


.reviewform-itemcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    margin: 30px 0px 30px 0px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

.reviewform-itemcontainer:hover {
    margin: 27px 0px 33px 0px;
}


.reviewform-itemcontainer-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    margin: 30px 0px 90px 0px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

.reviewform-itemcontainer-review:hover {
    margin: 27px 0px 93px 0px;
}

.reviewform-itemcontainer-review textarea {
    width: 600px;
    height: 300px;
    padding: 5px;
    margin: 20px 0px 0px 0px;
    text-align: left;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    border: 2px solid var(--gray2);
    font-size: 18px;
}


.reviewform-ratingblurb {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(125, 125, 125);
    text-shadow: 1px 1px 2px rgba(120, 120, 120, 0.05);
}


.reviewform-ratingflexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    height: 100%;
    width: 100%;
}

.reviewform-ratingflexbox select {
    width: 120px;
    height: 50px;
    margin: 0px 0px 20px 60px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: 2px solid var(--gray2);
}

.reviewform-explanationbox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: rgb(255, 200, 200);
    border: 2px solid var(--gray2);
    border-radius: 10px;
}

.reviewform-explanationbox p {
    margin: 0px;
    font-weight: bold;
    font-size: 14px;
    color: var(--gray2);
    font-style: italic;
}


.reviewform-submitbutton {
    width: 250px;
    height: 80px;
    margin: 20px 0px 60px 0px;
    font-size: 30px;
    background-color: rgb(255, 200, 200);
    border: 2px solid var(--gray2);
    border-radius: 10px;
    transition: 0.15s;
    cursor: pointer;
}

.reviewform-submitbutton:hover {
    background-color: rgb(255, 160, 160);
}

.reviewform-submitbutton:active {
    background-color: rgb(225, 80, 80);
    margin: 25px 0px 55px 0px;
}


.reviewform-alertdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 250px;
    background-color: rgba(255, 100, 100, 0.9);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.reviewform-alertdiv h2 {
    font-size: 36px;
}

.reviewform-alertdiv p {
    margin: 10px 0px 20px 0px;
    color: var(--gray2);
    font-size: 18px;
    font-style: italic;
}



/*------------------------------ COURSE LOOKUP ------------------------------*/

.lookup-bg {
    position: fixed;
    top: 0px;
    left: 200px;
    background-image: url('../images/courselookupbg.jpg');
    opacity: 0.60;
    width: 90%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}


.lookup-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -10px;
    bottom: -10px;
    width: 40%;
    min-width: 200px;
    max-width: 300px;
    min-height: 350px;
    height: 100%;
    background-color: white;
    border: 10px solid rgb(225, 225, 225);
}


.lookup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    max-width: 100%;
    width: 100%;
    height: 90%;
}

.lookup-form input, .lookup-form select {
    width: 75%;
    height: 45px;
    margin: 10px 0px 30px 0px;
    font-size: 14px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: 2px solid var(--gray2);
}

.lookup-form label {
    font-size: 20px;
}

.lookup-form button {
    font-size: 18px;
    min-width: 100px;
    width: 40%;
    height: 50px;
    margin: 10px 0px 0px 0px;
    background-color: rgb(255, 240, 240);
    border: 2px solid var(--gray2);
    border-radius: 10px;
    transition: 0.15s;
    cursor: pointer;
}

.lookup-form button:hover {
    background-color: rgb(255, 200, 200);
}


.lookup-displayedCoursesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 410px;
    margin-top: 150px;
    min-width: 500px;
    width: 100% - 310px;
    min-height: 100%;
}

.lookup-displayedCoursesContainer h1 {
    font-size: 60px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    color: var(--gray1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.lookup-displayedCourseOutline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    min-width: 350px;
    max-width: 750px;
    height: 100px;
    margin: 20px 0px 20px 0px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(225, 225, 225);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s;
}

.lookup-displayedCourseOutline:hover {
    background-color: rgb(255, 235, 235);
    border: 5px solid rgb(200, 200, 200);
}

.lookup-displayedCourseOutline h2 {
    font-size: 32px;
    text-align: center;
    color: var(--gray1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.lookup-displayedCourseOutline p {
    font-size: 16px;
    text-align: center;
    margin: 5px 0px 0px 0px;
    color: var(--gray2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}


.lookup-displayedCourseError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 150px;
    margin: 20px 0px 20px 0px;
    padding: 5px;
    background-color: rgb(255, 150, 150);
    border: 5px solid rgb(150, 0, 0);
    border-radius: 15px;
}

.lookup-displayedCourseError h2 {
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.lookup-displayedCourseError p {
    font-size: 14px;
    text-align: center;
    margin: 5px 0px 0px 0px;
    color: var(--gray1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}



/*------------------------------ COURSE REVIEWS ------------------------------*/

.reviews-bg {
    background-color: rgb(255, 225, 225);
    position: fixed;
    top: 0px;
    left: 200px;
    opacity: 0.60;
    width: 100%;
    min-height: 100%;
    z-index: -10;
}


.reviews-sidebar {
    position: fixed;
    
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    left: -10px;
    bottom: -10px;
    min-width: 200px;
    max-width: 300px;
    width: 35%;
    min-height: 200px;
    height: 100%;
    background-color: white;
    border: 10px solid rgb(225, 225, 225);
    z-index: 5;
}


.reviews-sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 175px 0px 0px 0px;
    height: 85%;
    min-height: 400px;
    max-height: 900px;
    width: 100%;
}

.reviews-sidebar-container h1 {
    font-size: 32px;
    text-align: center;
    color: var(--gray1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.reviews-sidebar-container h2 {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    color: var(--gray1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}


.reviews-statsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 50%;
    min-height: 200px;
    max-height: 600px;
    margin: 20px 20px 10px 20px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    border: 5px solid rgb(245, 245, 245)
}


.reviews-progressbarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.reviews-progressbarContainer h1 {
    font-size: 16px;
    text-align: left;
}

.reviews-progressbarContainer p {
    font-size: 13px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    color: var(--gray1);
    font-weight: bold;
    text-align: center;
}


.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 310px;
    margin-top: 150px;
    min-width: 800px;
    width: 100% - 310px;
    min-height: 100%;
}

.reviews-container h1 {
    font-size: 60px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    color: var(--gray1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.reviews-displayedReviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    max-width: 700px;
    width: 70%;
    height: 660px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(200, 200, 200);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s;
}

.reviews-displayedReviewContainer h2 {
    font-size: 18px;
    text-align: center;
}

.reviews-displayedReviewContainer p {
    font-size: 14px;
    font-style: italic;
    color: rgb(120, 120, 120);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}


.reviews-titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 10px 0px 20px 0px;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
}


.reviews-professorAndGrade-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}


.reviews-professorAndGradeTopText-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10px;
    margin-top: 5px;
}


.reviews-professorAndGradeTopText-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 45%;
    margin: 0px 1% 10px 1%;
}


.reviews-professorAndGrade {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    width: 40%;
    height: 30px;
    padding: 5px;
    margin: 0px 20px 0px 20px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
}


.reviews-reviewTopText-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
    margin: 25px 0px 10px 0px;
}


.reviews-review-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
}


.reviews-review {
    display: flex;
    justify-content: center;
    align-items: top;
    font-size: 14px;
    /* font-weight: bold; */
    width: 95%;
    /* height: 100%; */
    height: 265px;
    padding: 10px;
    margin: 10px 20px 0px 20px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
}


.reviews-reviewText {
    width: 97%;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 17px;
    /* word-break: break-all; */
    word-break: normal;
    word-wrap: break-word;
}


.reviews-ratings-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    width: 100%;
    height: 100px;
}

.reviews-ratingsText-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
}

.reviews-ratingBoxes-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}


.reviews-ratingBox-red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(255, 160, 160);
    border: 5px solid rgb(225, 225, 225);
}

.reviews-ratingBox-orange {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(255, 182, 126);
    border: 5px solid rgb(225, 225, 225);
}

.reviews-ratingBox-yellow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 170);
    border: 5px solid rgb(225, 225, 225);
}

.reviews-ratingBox-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(180, 200, 255);
    border: 5px solid rgb(225, 225, 225);
}

.reviews-ratingBox-green {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(190, 255, 190);
    border: 5px solid rgb(225, 225, 225);
}

.reviews-ratingBox h2 {
    font-size: 24px;
    text-align: center;
    color: var(--gray1);
    text-shadow: 1px 1px 2px rgb(0,0,0,0.2);
}


.reviews-date {
    z-index: 1;
    opacity: 0.5;
}


.reviews-back {
    position: fixed;
    bottom: 6px;
    left: 6px;
    font-size: 15px;
    font-style: italic;
    color: rgb(170, 170, 170);
    cursor: pointer;
    transition: 0.15s;
    z-index: 10;
}

.reviews-back:hover {
    color: rgb(200, 200, 200);
}


.reviews-writeReviewButton {
    width: 150px;
    height: 40px;
    font-size: 15px;
    color: var(--gray2);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 235, 235);
    border: 3px solid rgb(225, 225, 225);
    border-radius: 15px;
    transition: 0.15s;
    cursor: pointer;
}

.reviews-writeReviewButton:hover {
    background-color: rgb(255, 220, 220);
}



/*------------------------------ ABOUT PAGE ------------------------------*/

.about-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 100%;
    background-color: rgb(235, 210, 210);
    z-index: -10;
}


.about-mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1100px;
    min-height: 100%;
}

.about-mainContainer h1 {
    font-size: 38px;
    color: var(--gray2);
    text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.3);
}

.about-mainContainer p {
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    width: 96%;
    color: var(--gray2);
    text-shadow: 1px 1px 2px rgba(100, 100, 100, 0.2);
}


.about-titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70px;
    margin: 15px 0px 0px 0px;
    background-color: rgb(250, 245, 245);
    border: 5px solid rgb(255, 230, 230);
    border-radius: 15px;
}


.about-aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px 0px 0px 0px;
    height: 800px;
    width: 920px;
    background-color: white;
    border: 5px solid rgb(255, 230, 230);
    border-radius: 15px;
}


.about-aboutTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 525px;
    margin-top: 35px;
    background-color: rgb(250, 245, 245);
    border: 5px solid rgb(255, 230, 230);
    border-radius: 15px;
}


.about-techstackContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0px 0px 0px;
    height: 370px;
    width: 920px;
    background-color: white;
    border: 5px solid rgb(255, 230, 230);
    border-radius: 15px;
}


.about-techstackTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 195px;
    margin-top: 35px;
    background-color: rgb(250, 245, 245);
    border: 5px solid rgb(255, 230, 230);
    border-radius: 15px;
}


.about-privacypolicyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0px 0px 0px;
    height: 350px;
    width: 920px;
    background-color: white;
    border: 5px solid rgb(255, 230, 230);
    border-radius: 15px;
}


.about-privacypolicyTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 175px;
    margin-top: 35px;
    background-color: rgb(250, 245, 245);
    border: 5px solid rgb(255, 230, 230);
    border-radius: 15px;
}


.about-miscContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0px 60px 0px;
    height: 350px;
    width: 920px;
    background-color: white;
    border: 5px solid rgb(255, 230, 230);
    border-radius: 15px;
}


.about-miscTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 175px;
    margin-top: 35px;
    background-color: rgb(250, 245, 245);
    border: 5px solid rgb(255, 230, 230);
    border-radius: 15px;
}

.about-link {
    display: block;
    color: var(--gray2);
    margin: 40px 0px 40px 0px;
    text-align: center;
    transition: 0.15s;
    cursor: pointer;
}

.about-link:hover {
    font-size: 18px;
    color: rgb(150, 150, 150);
}